.cartContainer{
   width: 100%;
   max-width: 1200px;
   margin: 30px auto;
   padding: 0 12px;
   .cartView{
      width: 100%;
      height: auto;
      padding: 52px 64px;
      background-color: #fff;
      box-shadow: 0 1px 2px 0 rgb(0 0 0 / 30%);
      border-radius: 4px;
      .sections{
         ul{
            width: 100%;
            display: flex;
            justify-content: flex-start;
            border-bottom: 1px solid rgb(0 0 0 / 10%);
            position: relative;
            li{
               font-size: 17px;
               padding: 0 64px 15px;
               list-style: none;
               user-select: none;
               &:first-child{
                  color: $blue;
                  font-weight: 700;
                  border-bottom: 2px solid $blue;
               }
               &:nth-child(2){
                  font-weight: 500;
               }
               span{
                  cursor: pointer;
               }
            }
            .clearCart{
               color: $blue;
               font-size: 14px;
               position: absolute;
               bottom: 5px;
               right: 0;
               cursor: pointer;
            }
         }
      }
      .itemInCart{
         display: flex;
         flex-wrap: wrap;
         padding: 44px 0 48px;
         border-bottom: 1px solid rgb(0 0 0 /10%);
         .imgProduct{
            width: 48px;
            height: 48px;
            margin-right: 16px;
            img{
               width: 100%;
               height: 100%;
               object-fit: contain;
            }
         }
         .itemInfo{
            display: flex;
            flex-wrap: wrap;
            flex: 1;
            .title{
               width: 55%;
               margin-right: 5%;
               a{
                  text-decoration: none;
                  h2{
                     color: rgba(0 0 0 /80%);
                     font-size: 20px;
                     font-weight: 700;
                     line-height: 28px;
                     text-overflow: ellipsis;
                     white-space: nowrap;
                     overflow: hidden;
                     margin-bottom: 12px;
                  }
               }
               h3{
                  color: rgba(0 0 0 / 45%);
                  font-size: 16px;
                  font-weight: 500;
                  line-height: 20px;
                  margin: 4px 0 16px;
               }
            }
            .count{
               width: 15%;
               .countButtons{
                  width: 120px;
                  padding: 10px;
                  display: flex;
                  align-items: center;
                  flex-wrap: wrap;
                  border: 1px solid rgba(0 0 0 / 10%);
                  border-radius: 4px;
                  overflow: hidden;
                  float: right;
                  .addRemove{
                     color: $blue;
                     background-color: #fff;
                     font-size: 24px;
                     font-weight: 500;
                     line-height: 24px;
                     flex: 1 1;
                     border: none;
                     cursor: pointer;
                  }
                  .quantity{
                     width: 75px;
                     text-align: center;
                     cursor: default;
                  }
               }
            }
            .price{
               display: flex;
               margin-left: auto;
               height: 26px;
               span{
                  font-size: 26px;
                  font-weight: 500;
                  line-height: 30px;
                  &:first-child{
                     margin-right: 0.1em;
                  }
               }
            }
         }
         .buyOptions{
            width: 100%;
            margin-top: 16px;
            padding-left: 64px;
            ul{
               display: flex;
               gap: 30px;
               li{
                  color: $blue;
                  font-size: 14px;
                  list-style: none;
                  cursor: pointer;
               }
            }
         }
      }
      .totalCart{
         display: block;
         padding: 48px 0;
         border-bottom: 1px solid rgba(0 0 0 / 10%);
         .shipping{
            width: 100%;
            display: flex;
            justify-content: flex-end;
            margin-bottom: 22px;
            .location{
               position: relative;
               color: $blue;
               font-size: 18px;
               font-weight: 300;
               padding-right: 18px;
               &::before{
                  content: "";
                  width: 8px;
                  height: 8px;
                  position: absolute;
                  right: 3px;
                  color: $blue;
                  border-style: solid;
                  border-width: 0 2px 2px 0;
                  margin: 9px 0 0 6px;
                  transform: rotate(45deg);
                  box-sizing: border-box;
               }
            }
            .priceShipping{
               color: #333;
               width: 194px;
               font-size: 24px;
               font-weight: 300;
               line-height: 28px;
               text-align: right;
            }
         }
         .itemsPrice{
            width: 100%;
            display: flex;
            justify-content: flex-end;
            .totalShipping{
               font-size: 26px;
               font-weight: 500;
               line-height: 26px;
            }
            .finalPrice{
               width: 194px;
               font-size: 26px;
               font-weight: 500;
               line-height: 28px;
               text-align: right;
            }
         }
      }
      .emptyCart{
         margin: 96px auto;
         max-width: 450px;
         text-align: center;
         h3{
            color: #666;
            font-size: 32px;
            line-height: 40px;
            font-weight: 300;
         }
         p{
            color: #999;
            font-size: 18px;
            line-height: 26px;
            font-weight: 300;
         }
      }
   }   
}

@media (max-width: 1200px){
   .cartContainer{
      width: 100%;
      max-width: none;
      margin: 0;
      padding: 0;
      .cartView{
         background-color: transparent;
         width: 100%;
         height: auto;
         padding: 0;
         box-shadow: none;
         .sections{
            border-top: 1px solid #e5d850;
            ul{
               border: none;
               background-color: $meli-yellow;
               li{
                  width: 50%;
                  text-align: center;
                  padding: 10px 0;
                  &:first-child{
                     color: #1a1a1a;
                     font-weight: 500;
                     border-bottom: 2px solid #1a1a1a;
                  }
                  &:nth-child(2){
                     color: rgb(0 0 0 / 55%);
                  }
               }
               .clearCart{
                  display: none;
               }
            }
         }
         .itemInCart{
            background-color: #fff;
            padding: 16px 0;
            .imgProduct{
               margin: 0 16px;
            }
            .itemInfo{
               .title{
                  width: 100%;
                  margin: 0;
                  padding-right: 16px;
                  a{
                     h2{
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 1.25;
                        white-space: pre-wrap;
                        margin: 0;
                     }
                  }
                  h3{
                     display: none;
                  }
               }
               .count{
                  width: auto;
                  margin-top: 30px;
                  .countButtons{
                     width: 90px;
                     padding: 10px 12px;
                     .addRemove{
                        line-height: 20px;
                     }
                     .quantity{
                        width: 44px;
                        font-size: 14px;
                        line-height: 20px;
                     }
                  }
               }
               .price{
                  margin: auto 16px 14px auto;
                  span{
                     font-size: 20px;
                     &:first-child{
                        margin-right: 0.1em;
                     }
                  }
               }
            }
            .buyOptions{
               padding: 16px 0 0 16px;
               border-top: 1px solid rgb(0 0 0 / 10%);
               ul{
                  gap: 16px;
                  li{
                     &:nth-child(3){
                        display: none;
                     }
                     &:nth-child(4){
                        display: none;
                     }
                  }
               }
            }
         }

         .totalCart{
            background-color: #fff;
            padding: 48px 16px;
            margin-top: 50%;
            .shipping{
               margin-bottom: 14px;
               .location{
                  font-size: 16px;
                  &::before{
                     margin: 6px 0 0 6px;
                  }
               }
               .priceShipping{
                  font-size: 18px;
               }
            }
            .itemsPrice{
               .totalShipping{
                  font-size: 20px;
               }
               .finalPrice{
                  font-size: 20px;
               }
            }
         }
         .emptyCart{
            h3{
               color: #000;
               font-size: 18px;
               line-height: 1;
               margin: 12px 0;
            }
            p{
               color: rgb(0 0 0 / 55%);
               font-size: 14px;
               line-height: 1;
               margin: 12px 0;
            }
         }
      }   
   }
}