.itemDetailContainer{
   width: 1184px;
   margin: 0 auto;
   .categoryShare{
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      line-height: 14px;
      margin: 35px 0 14px;
      .category{
         display: flex;
         a{
            position: relative;
            text-decoration: none;
            margin-right: 25px;
            color: rgb(0 0 0 / 90%);
            &:hover{
               color: $dark-blue;
            }
            &::before{
               content: "";
               position: absolute;
               top: 2px;
               right: -14px;
               height: 12px;
               width: 1px;
               background-color: rgb(0 0 0 / 20%);
            }
         }
         span{
            color: $blue;
            cursor: pointer;
            &:hover{
               color: $dark-blue;
            }
         }
      }
      .share{
         display: flex;
         color: $blue;
         p{
            position: relative;
            margin-right: 24px;
            &::before{
               content: "";
               position: absolute;
               top: 2px;
               right: -15px;
               height: 14px;
               width: 1px;
               background-color: rgb(0 0 0 / 20%);
            }
            &:hover{
               color: $dark-blue;
               cursor: pointer;
            }
         }
         span:hover{
            color: $dark-blue;
            cursor: pointer;
         }
      }
   }
   .itemDetail{
      display: grid;
      grid-template-columns: 768px 416px;
      background-color: #fff;
      border-radius: 4px;
      box-shadow: 0 1px 2px 0 rgb(0 0 0 / 25%);
      .columnLeft{
         .imgProductContainer{
            padding: 16px 0 28px 16px;
            .imgProduct{
               display: grid;
               grid-template-columns: 56px 1fr;
               grid-template-rows: 524px;
               .gallery{
                  width: 50px;
                  height: 100%;
                  .preview{
                     width: 100%;
                     height: 50px;
                     padding: 2px;
                     border: 2px solid $blue;
                     border-radius: 4px;
                     cursor: pointer;
                     &:hover{
                        border: 2px solid $blue;
                     }
                     img{
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                     }
                  }
               }
               .focusImg{
                  padding: 40px 12px 16px 16px;
                  img{
                     width: 100%;
                     height: 100%;
                     object-fit: contain;
                     cursor: zoom-in;
                  }
               }
            }
         }
         .sellerProducts{
            border-top: 1px solid rgb(0 0 0 / 10%);
            padding: 40px 0;
            margin-left: 50px;
            h2{
               color: rgb(0 0 0 / 90%);
               font-size: 24px;
               font-weight: 500;
               line-height: 30px;
               margin-bottom: 24px;
            }
         }
         .techSpecs{
            border-top: 1px solid rgb(0 0 0 / 10%);
            margin-left: 50px;
            padding: 40px 0;
            h2{
               color: #333;
               font-size: 24px;
               font-weight: 500;
               line-height: 30px;
               padding-bottom: 32px;
            }
            .table{
               border: 1px solid #ededed;
               border-radius: 5px;
               overflow: hidden;
               table{
                  width: 100%;
                  border-spacing: 0;
                  tbody{
                     tr{
                        display: flex;
                        text-align: left;
                        th{
                           width: 200px;
                           padding: 16px 24px 16px 16px;
                        }
                        td{
                           flex: 1;
                           padding: 16px 16px 16px 24px;
                        }
                     }
                     tr:nth-child(odd){
                        th{
                           background-color: #ebebeb;
                        }
                        td{
                           background-color: #f5f5f5;
                        }
                     }
                     tr:nth-child(even){
                        th{
                           background-color: #f5f5f5;
                        }
                        td{
                           background-color: #fff;
                        }
                     }
                  }
               }   
            }
         }
         .otherSpecs{
            margin-top: 32px;
            h3{
               font-size: 20px;
               font-weight: 500;
               padding-bottom: 24px;
            }
            .specsList{
               width: 100%;
               ul{
                  display: flex;
                  flex-wrap: wrap;
                  li{
                     width: 50%;
                     list-style: none;
                     p{
                        font-size: 14px;
                        line-height: 16px;
                        padding-bottom: 14px;
                     }
                  }
                  li:nth-child(even){
                     padding-left: 24px;
                  }
               }
            }
         }
         .description{
            border-top: 1px solid rgb(0 0 0 / 10%);
            padding: 40px 0;
            margin-left: 50px;
            h2{
               font-size: 24px;
               font-weight: 500;
               line-height: 30px;
               padding-bottom: 24px;
            }
            p{
               color: #666;
               font-size: 20px;
               font-weight: 500;
               line-height: 28px;
               white-space: pre-wrap;
            }
         }
         .questionsContainer{
            padding-top: 40px;
            margin-left: 50px;
            height: 1800px;
            h2{
               font-size: 24px;
               font-weight: 500;
               line-height: 30px;
            }
            .buttons{
               margin-top: 40px;
               h3{
                  font-size: 18px;
                  font-weight: 700;
                  line-height: 24px;
                  margin-bottom: 28px;
               }
               button{
                  color: $blue;
                  background-color: rgb(65 137 230 / 15%);
                  font-size: 14px;
                  font-weight: 700;
                  line-height: 32px;
                  height: 32px;
                  padding: 0 12px;
                  margin-right: 12px;
                  border: none;
                  border-radius: 5px;
                  cursor: pointer;
               }
            }
            .yourQuestion{
               margin-top: 40px;
               h3{
                  font-size: 18px;
                  font-weight: 700;
                  line-height: 24px;
                  margin-bottom: 16px
               }
               .form{
                  display: flex;
                  gap: 16px;
                  input{
                     font-size: 16px;
                     flex: 1;
                     padding-left: 16px;
                     border: none;
                     border-radius: 5px;
                     box-shadow: 0 0 0 1px rgb(0 0 0 / 25%);
                     &::placeholder{
                        color: rgb(0 0 0 / 25%);
                     }
                     &:focus-visible{
                        outline: $blue auto;
                     }
                  }
                  button{
                     color: #fff;
                     background-color: $blue;
                     width: 155px;
                     font-size: 16px;
                     font-weight: 700;
                     line-height: 48px;
                     border: none;
                     border-radius: 5px;
                     transition: background-color 0.3s ease;
                     &:hover{
                        background-color: $dark-blue;
                        cursor: pointer;
                     }
                  }
               }
            }
            .lastQuestions{
               margin-top: 40px;
               h3{
                  font-size: 18px;
                  font-weight: 700;
                  line-height: 22px;
               }
               .oneQuestion{
                  margin-top: 24px;
                  .question{
                     display: flex;
                     margin-bottom: 6px;
                     &:hover > p a{
                        opacity: 1;
                     }
                     p{
                        color: rgb(0 0 0 / 90%);
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 24px;
                        a{
                           color: $blue;
                           font-size: 14px;
                           line-height: 24px;
                           text-decoration: none;
                           margin-left: 8px;
                           opacity: 0;
                           cursor: pointer;
                           &:hover{
                              color: $dark-blue;
                           }
                        }
                     }
                  }
                  .answer{
                     display: flex;
                     position: relative;
                     &:hover > p a{
                        opacity: 1;
                     }
                     &::before{
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 12px;
                        width: 12px;
                        height: 12px;
                        border-left: 1px solid rgb(0 0 0 / 25%);
                        border-bottom: 1px solid rgb(0 0 0 / 25%);
                     }
                     p{
                        margin-left: 32px;
                        color: rgb(0 0 0 / 55%);
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 24px;
                        span{
                           color: rgb(0 0 0 / 55%);
                           font-size: 14px;
                           line-height: 24px;
                           margin-left: 8px;
                        }
                        a{
                           color: $blue;
                           font-size: 14px;
                           line-height: 24px;
                           text-decoration: none;
                           margin-left: 8px;
                           opacity: 0;
                           cursor: pointer;
                           &:hover{
                              color: $dark-blue;
                           }
                        }
                     }
                  }
               }
               .allQuestions{
                  color: $blue;
                  font-size: 14px;
                  font-weight: 500;
                  padding: 24px 0;
                  transition: color .3s ease;
                  &:hover{
                     color: $dark-blue;
                     cursor: pointer;
                  }
               }
            }
            .opinions{
               h2{
                  color: #000;
                  font-size: 24px;
                  font-weight: 500;
                  line-height: 30px;
                  margin-bottom: 10px;
                  padding: 14px 2px;
               }
               .reviews{
                  display: flex;
                  gap: 32px;
                  .scoreItem{
                     display: flex;
                     flex-wrap: wrap;
                     flex: 1;
                     .score{
                        display: flex;
                        margin-bottom: 8px;
                        span{
                           color: #3483fa;
                           font-size: 48px;
                           font-weight: 700;
                           line-height: 50px;
                           margin-right: 18px;
                        }
                        .reviewsRating{
                           display: flex;
                           flex-direction: column;
                           justify-content: center;
                           .rate{
                              position: relative;
                              margin-bottom: 3px;
                              .stars{
                                 height: 18px;
                                 position: absolute;
                                 top: 0;
                                 left: 0;
                                 display: flex;
                                 gap: 9px;
                                 svg{
                                    fill: $blue;
                                    width: 18px;
                                    height: 18px;
                                 }
                              }
                              .greyStars{
                                 height: 18px;
                                 display: flex;
                                 gap: 9px;
                                 svg{
                                    fill: rgb(0 0 0 / 10%);
                                    width: 18px;
                                    height: 18px;
                                 }
                              }
                           }
                           p{
                              color: rgba(0 0 0 / 55%);
                              font-size: 14px;
                              font-weight: 500;
                              line-height: 16px;
                           }
                        }
                     }
                     .ratingBars{
                        width: 100%;
                        ul{
                           display: flex;
                           flex-direction: column;
                           gap: 5px;
                           li{
                              display: flex;
                              align-items: flex-end;
                              gap: 16px;
                              list-style: none;
                              .bar{
                                 position: relative;
                                 width: 100%;
                                 height: 4px;
                                 border-radius: 2px;
                                 background-color: rgb(0 0 0 / 10%);
                                 span{
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 70%;
                                    height: 4px;
                                    border-radius: 2px;
                                    background-color: rgb(0 0 0 / 55%);
                                 }
                              }
                              .level{
                                 display: flex;
                                 align-items: center;
                                 span{
                                    color: rgb(0 0 0 / 55%);
                                    width: 8px;
                                    font-size: 14px;
                                    font-weight: 300;
                                    line-height: 14px;
                                    text-align: center;
                                 }
                                 svg{
                                    fill: rgb(0 0 0 / 25%);
                                    width: 11px;
                                    height: 11px;
                                    margin-left: 5px;
                                 }
                              }
                           }
                        }
                     }
                  }
                  .reviewsFilter{
                     width: 100%;
                     max-width: 466px;
                     .filterButtons{
                        display: flex;
                        gap: 20px;
                        margin-bottom: 25px;
                        button{
                           background-color: rgba(65 137 230 / 15%);
                           position: relative;
                           height: 32px;
                           padding: 0 22px;
                           border-radius: 16px;
                           border: none;
                           cursor: pointer;
                           span{
                              display: flex;
                              color: $blue;
                              font-size: 14px;
                              font-weight: 700;
                              line-height: 32px;
                              div{
                                 width: 7px;
                                 height: 7px;
                                 margin: 12px 5px 0 12px;
                                 border: 1px solid $blue;
                                 border-width: 0 1.5px 1.5px 0;
                                 transform: rotate(45deg);
                              }
                           }
                        }
                     }
                     .reviewsComments{
                        .reviewComment{
                           .rateAndDate{
                              display: flex;
                              justify-content: space-between;
                              .rate{
                                 position: relative;
                                 .stars{
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    display: flex;
                                    gap: 3px;
                                    svg{
                                       fill: $blue;
                                       width: 12px;
                                       height: 12px;
                                    }
                                 }
                                 .greyStars{
                                    display: flex;
                                    gap: 3px;
                                    svg{
                                       fill: rgb(0 0 0 / 10%);
                                       width: 12px;
                                       height: 12px;
                                    }
                                 }
                              }
                              .date{
                                 color: rgba(0 0 0 / 55%);
                                 font-size: 12px;
                                 font-weight: 300;
                              }
                           }
                           p{

                           }
                           .buttonsAndDenounce{
                              .valorizationButtons{
                                 button{
                                    span{

                                    }
                                 }
                              }
                              .denounceButton{

                              }
                           }
                        }
                     }
                  }
               }
            }
            
         }
      }

      .columnRight{
         margin: 16px 16px 16px 48px;
         .infoProduct{
            position: relative;
            width: 100%;
            padding: 16px;
            border: 1px solid rgb(0 0 0 / 10%);
            border-radius: 8px;
            .productHeader{
               span{
                  display: block;
                  color: rgb(0 0 0 / 55%);
                  font-size: 14px;
                  font-weight: 500;
                  line-height: 20px;
                  white-space: pre-wrap;
                  margin: 0 40px 8px 0;
               }
               h1{
                  color: rgb(0 0 0 / 90%);
                  font-size: 22px;
                  font-weight: 700;
                  line-height: 26px;
                  margin: 0 28px 8px 0;
               }
               svg{
                  width: 22px;
                  height: 22px;
                  position: absolute;
                  top: 44px;
                  right: 16px;
                  fill: $blue;
                  cursor: pointer;
               }
            }
            .rate{
               position: relative;
               display: flex;
               align-items: center;
               margin-bottom: 16px;
               .stars{
                  position: absolute;
                  left: 0;
                  svg{
                     width: 15px;
                     height: 14px;
                     margin-right: 3px;
                     fill: $blue;
                  }
               }
               .greyStars{
                  svg{
                     width: 15px;
                     height: 14px;
                     margin-right: 3px;
                     fill: rgb(0 0 0 / 10%);
                  }
               }
               span{
                  color: $blue;
                  font-size: 14px;
                  font-weight: 500;
                  line-height: 1.35;
                  margin-left: 5px;
               }
            }
            .productPrice{
               .itemPrice{
                  font-size: 36px;
                  line-height: 36px;
                  margin-bottom: 4px;
                  .priceSimbol{
                     color: rgb(0 0 0 / 90%);
                     font-weight: 300;
                     margin-right: 0.2em;
                  }
                  .price{
                     color: rgb(0 0 0 / 90%);
                     font-weight: 300;
                  }
               }
               .quotas{
                  p{
                     color: rgb(0 0 0 / 90%);
                     font-size: 18px;
                     font-weight: 500;
                     line-height: 18px;
                  }
               }
               .payment{
                  color: $blue;
                  font-size: 14px;
                  font-weight: 500;
                  margin: 8px 0 20px;
                  &:hover{
                     cursor: pointer;
                     color: #1f4e96;
                  }
               }
            }
            .shippingAndReturn{
               display: flex;
               align-items: flex-start;
               margin-bottom: 22px;
               .iconShipping{
                  margin: 0 10px 0 0;
                  img{
                     width: 20px;
                  }
               }
               .iconReturn{
                  margin: 0 10px 0 0;
                  img{
                     width: 17px;
                  }
               }
               .textIcon{
                  p:first-child{
                     color: #00a650;
                     font-size: 16px;
                     font-weight: 500;
                     line-height: 18px;
                     margin-bottom: 3px;
                  }
                  p:nth-child(2){
                     color: rgb(0 0 0 / 55%);
                     font-size: 14px;
                     font-weight: 500;
                     line-height: 20px;
                     margin-bottom: 2px;
                  }
                  div{
                     width: fit-content;
                     font-size: 14px;
                     color: $blue;
                     cursor: pointer;
                     &:hover{
                        color: $dark-blue;
                     }
                  }
               }
            }
            .cart{
               .product{
                  width: 100%;
                  display: flex;
                  align-items: center;
                  flex-wrap: wrap;
                  border: none;
                  border: 1px solid rgb(0 0 0 / 20%);
                  border-radius: 8px;
                  overflow: hidden;
                  margin-bottom: 10px;
                  .addRemove{
                     background-color: #fff;
                     flex: 1;
                     border: none;
                     color: $blue;
                     font-size: 20px;
                     font-weight: 700;
                     cursor: pointer;
                     &:hover{
                        background-color: #f5f5f5;
                     }
                  }
                  .count{
                     flex: 1;
                     text-align: center;
                     cursor: default;
                  }
               }
               .buttons{
                  display: flex;
                  flex-wrap: wrap;
                  gap: 8px;
                  .buyNow{
                     width: 100%;
                     height: 48px;
                     border: none;
                     border-radius: 5px;
                     background-color: $blue;
                     font-size: 16px;
                     font-weight: 700;
                     color: #fff;
                     transition: background-color .3s ease;
                     &:hover{
                        cursor: pointer;
                        background-color: $dark-blue;
                     }
                  }
                  .addCart{
                     width: 100%;
                     height: 48px;
                     border: none;
                     border-radius: 5px;
                     background-color: rgb(65 137 230 / 15%);
                     font-size: 16px;
                     font-weight: 700;
                     color: $blue;
                     transition: background-color .3s ease;
                     &:hover{
                        cursor: pointer;
                        background-color: rgb(65 137 230 / 20%);
                     }
                  }
               }
            }
            .benefits{
               display: flex;
               flex-direction: column;
               gap: 18px;
               margin-top: 24px;
               li{
                  display: flex;
                  img{
                     width: 16px;
                     height: 16px;
                     margin: 2px 10px 0 0;
                  }
                  p{
                     font-size: 14px;
                     line-height: 18px;
                     color: rgb(0 0 0 / 55%);
                     span{
                        color: $blue;
                        cursor: pointer;
                        &:hover{
                           color: $dark-blue;
                        }
                     }
                  }
               }
            }
         }
      }
   }
}