.recommendations{
   max-width: 1200px;
   margin: 20px auto;
   overflow-x: auto;
   &::-webkit-scrollbar {
      display: none;
   }
   .sectionTitle{
      display: flex;
      align-items: baseline;
      h3{
         color: #666;
         font-size: 26px;
         font-weight: 300;
         line-height: 28px;
         margin: 0 0 25px 8px;
      }
      a{
         color: $blue;
         font-size: 16px;
         font-weight: 500;
         text-decoration: none;
         margin-left: 15px;
         &:hover{
               color: #1259c3;
         }
      }
   }
   .itemsContainer{
      display: flex;
      flex-wrap: wrap;
   }
}