.formOrder{
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   margin-top: 48px;
   gap: 15px;
   .inputBox{
      display: flex;
      flex-direction: column;
      label{
         color: rgba(0,0,0,.9);
         font-size: 14px;
         font-weight: 500;
         padding-left: 3px;
         margin-bottom: 3px;
      }
      input{
         width: 250px;
         height: 35px;
         padding-left: 10px;
         box-shadow: 0 0 0 1px rgb(0 0 0 / 25%);
         border: none;
         border-radius: 4px;
         outline: none;
         font-size: 16px;
         &:focus-visible{
            box-shadow: 0 0 0 2px #3483fa;
         }
      }
   }
   .buyNow{
      text-align: end;
      padding-top: 48px;
      button{
         font-size: 18px;
         font-weight: 300;
         line-height: 22px;
         color: #fff;
         background-color: #3483fa;
         border: none;
         border-radius: 4px;
         padding: 13px 32px;
         cursor: pointer;
         transition: .2s background-color ease;
         &:hover{
            background-color: rgba(52, 131, 250, .8);
         }
         &:disabled{
            background-color: rgba(97, 137, 197, .8);
            cursor: not-allowed;
         }
      }
   }
}