.App{
   position: relative;
   overflow-x: hidden;
}
.nav{
   background-color: var(--background-nav);
   position: relative;
   width: 100%;
   height: 100px;
   box-shadow: 0 1px 0 0 var(--nav-border);
   z-index: 10;
   .navContainer{
      max-width: 1200px;
      height: 100%;
      margin: 0 auto;
      padding: 8px 10px 12px;
      display: grid;
      align-items: center;
      justify-content: center;
      grid-template-rows: 40px 28px;
      grid-template-columns: 162px minmax(340px, 580px) minmax(350px, 390px);
      grid-row-gap: 12px;
      grid-column-gap: 24px;
      grid-template-areas:
      "logo search disney"
      "location categories account";
      > a{
         grid-area: logo;
         width: 134px;
         .meliLogo{
            width: 100%;
            height: 34px;
            background-image: var(--meli-logo);
            cursor: pointer;
         }
      }
      .location{
         width: max-content;
         grid-area: location;
         position: relative;
         cursor: pointer;
         > svg{
            color: var(--background-icons);
            position: absolute;
            top: -4px;
            left: 0;
            width: 18px;
            height: 22px;
         }
         &:hover .envio::before{
            opacity: 1;
         }
         .envio{
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            position: relative;
            span{
               color: var(--nav-secondary-text);
               font-size: 12px;
               font-weight: 500;
               line-height: 1;
               padding-left: 24px;
            }
            p{
               color: var(--nav-text);
               font-size: 14px;
               font-weight: 500;
               line-height: 14px;
               padding: 0 0 2px 24px;
            }
            &::before{
               content: "";
               width: 100%;
               height: 100%;
               position: absolute;
               top: -6px;
               left: -8px;
               padding: 6px 8px 4px 8px;
               border-radius: 6px;
               border: 1px solid #eadd61;
               box-sizing: content-box;
               opacity: 0;
            }
         }
      }
      .search{
         grid-area: search;
         width: 100%;
         height: 40px;
         border-radius: 2px;
         box-shadow: 0 1px 2px 0 rgba(0 0 0 / 20%);
         overflow: hidden;
         form{
            display: grid;
            grid-template-areas: "input button";
            grid-template-columns: 1fr 46px;
            width: 100%;
            border-radius: 2px;
            input{
               color: var(--text);
               background-color: var(--background-item);
               grid-area: input;
               width: 100%;
               padding-left: 16px;
               border: none;
               &::placeholder{
                  color: var(--placeholder);
                  font-family: inherit;
                  font-size: 16px;
                  font-weight: 500;
               }
               &:focus-visible{
                  outline: none;
               }
            }
            button{
               background-color: var(--background-item);
               grid-area: button;
               position: relative;
               width: 46px;
               height: 40px;
               border: none;
               cursor: pointer;
               &::after{
                  content: "";
                  position: absolute;
                  left: 0;
                  top: 50%;
                  transform: translateY(-50%);
                  border-left: 1px solid var(--border);
                  height: 26px;
               }
               img{
                  filter: var(--brightness);
                  height: 16px;
               }
            }
         }
      }
      .categories{
         grid-area: categories;
         height: 100%;
         display: flex;
         align-items: flex-end;
         ul{
            height: 28px;
            display: flex;
            align-items: flex-end;
            gap: 16px;
            li:first-child{
               position: relative;
               padding-right: 14px;
               cursor: pointer;
               &::before{
                  content: "";
                  position: absolute;
                  right: 0;
                  width: 6px;
                  height: 6px;
                  color: var(--nav-categories);
                  border-style: solid;
                  border-width: 0 1.5px 1.5px 0;
                  margin: 6px 2px 0 0px;
                  transform: rotate(45deg);
                  box-sizing: border-box;
               }
               .allCategories{
                  position: absolute;
                  top: 17px;
                  left: 50%;
                  width: 257px;
                  padding-top: 10px;
                  transform: translateX(-50%);
                  z-index: 10;
                  cursor: default;
                  .allCategoriesContent{
                     position: relative;
                     background-color: #333;
                     padding: 22px 0;
                     border-radius: 4px;
                     &::before{
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 155px;
                        transform: rotate(180deg) translateY(100%);
                        border-left: 8px solid transparent;
                        border-right: 8px solid transparent;
                        border-top: 8px solid #333;
                     }
                     a, span{
                        color: #fff;
                        display: block;
                        width: 100%;
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 36px;
                        text-decoration: none;
                        padding: 0 36px;
                        cursor: pointer;
                        &:hover{
                           background-color: $blue;
                        }
                     }   
                  }
               }
            }
            li{
               height: 18px;
               list-style: none;
               span{
                  color: var(--nav-categories);
                  display: block;
                  font-size: 14px;
                  font-weight: 500;
                  line-height: 18px;
                  transition: .3s color ease;
                  cursor: pointer;
                  &:hover{
                     color: var(--nav-categories-hover);
                     transition: .5s color ease;
                  }
               }
            }
         }
      }
      .disney{
         grid-area: disney;
         width: 340px;
         height: 39px;
         background-image: var(--disney-plus-image);
         background-size: 340px 39px;
         margin-left: auto;
         cursor: pointer;
      }
      .account{
         grid-area: account;
         height: 100%;
         display: flex;
         justify-content: flex-end;
         ul{
            display: flex;
            align-items: flex-end;
            gap: 22px;
            li{
               list-style: none;
               span{
                  color: var(--nav-text);
                  display: block;
                  font-size: 14px;
                  font-weight: 500;
                  line-height: 18px;
                  cursor: pointer;
                  &:hover{
                     color: var(--nav-categories-hover);
                  }
               }
            }
            .cartWidget{
               position: relative;
               width: 21px;
               height: 20px;
               margin: 0 2px 2px 0;
               cursor: pointer;
               svg{
                  color: var(--background-icons);
               }
               .itemsInCart{
                  position: absolute;
                  top: -2px;
                  right: 0;
                  width: 17px;
                  height: 12px;
                  span{
                     display: block;
                     width: 100%;
                     font-size: 11px;
                     line-height: 11px;
                     color: var(--background-icons);
                     text-align: center;
                     text-decoration: none;
                  }
               }
            }
         }
      }
   }
}
.shadow{
   position: absolute;
   width: 100%;
   height: calc(100% - 100px);
   top: 100px;
   left: 0;
   background-color: #333;
   opacity: 0;
   z-index: -1;
}
.shadowActive{
   opacity: 0.3;
   z-index: 5;
}

@media (max-width: 1200px){
   .nav{
      .navContainer{
         .categories{
            ul{
               li:nth-child(5){
                  display: none;
               }
            }
         }
      }
   }
}

@media (max-width: 1100px){
   .nav{
      .navContainer{
         .categories{
            ul{
               li:nth-child(4){
                  display: none;
               }
            }
         }
      }
   }
}

@media (max-width:1024px){
   .nav{
      height: 87px;
      .navContainer{
         max-width: none;
         width: 100%;
         padding: 0;
         grid-template-columns: 64px 1fr 95px;
         grid-template-rows: 49px auto;
         grid-template-areas:
         "logo search account"
         "location location location";
         gap: 0;
         > a{
            width: 44px;
            margin: 0 10px 2px;
            .meliLogo{
               width: 44px;
               height: 32px;
               background-image: url(../../assets/img/meliLogo2.png);
               background-size: 44px 31px;
               background-repeat: no-repeat;
            }
         }
         .location{
            width: 100%;
            height: 39px;
            padding: 0;
            margin: 0;
            box-shadow: 0 -1px 0 0 var(--nav-border);
            display: flex;
            align-items: center;
            &:hover{
               box-shadow: 0 -1px 0 0 var(--nav-border);
               border-radius: 0;
            }
            > svg{
               width: 12px;
               height: 14px;
               top: 9px;
               left: 10px;
               filter: drop-shadow(0px 0px 0.5px var(--background-icons));
            }
            .envio{
               flex-direction: row;
               &::before{
                  display: none;
               }
               span, p{
                  font-size: 13px;
                  font-weight: 500;
                  line-height: 13px;
               }
               span{
                  padding-left: 28px;
               }
               p{
                  padding-left: 3px;
               }
            }
         }
         .search{
            width: 100%;
            height: auto;
            padding: 7px 0 8px;
            box-shadow: none;
            form{
               box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
               height: 34px;
               grid-template-columns: 35px 1fr;
               grid-template-areas: "button input";
               input{
                  padding: 0;
                  font-size: 16px;
                  &::placeholder{
                     font-size: 16px;
                     font-weight: 500;
                  }
                  &:focus-visible{
                     outline: none;
                  }
               }
               button{
                  height: 34px;
                  width: 35px;
                  img{
                     height: 13px;
                     opacity: 0.7;
                     
                  }
                  &::after{
                     display: none;
                  }
               }
            }
         }
         .account{
            width: 90px;
            margin-left: 5px;
            align-items: center;
            justify-content: flex-start;
            ul{
               display: flex;
               align-items: flex-end;
               justify-content: flex-end;
               gap: 0;
               padding: 0;
               .burgerButton{
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  width: 45px;
                  height: 49px;
                  span{
                     background-color: var(--background-icons);
                     position: relative;
                     display: block;
                     width: 20px;
                     height: 1px;
                     &::before, &::after{
                        background-color: var(--background-icons);
                        position: absolute;
                        content: "";
                        top: 0;
                        left: 0;
                        width: 20px;
                        height: 1px;
                     }
                     &::before{
                        top: 7px;
                     }
                     &::after{
                        top: -7px;
                     }   
                  }
               }
               .cartButton{
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  width: 45px;
                  height: 49px;
                  .cartWidget{
                     height: 23px;
                     width: 23px;
                     margin: 0;
                     .itemsInCart{
                        width: 18px;
                     }
                  }
               }
            }
         }
      }
   }
}