.App{
   position: relative;
   overflow-x: hidden;
}
.nav{
   position: relative;
   background-color: var(--background-nav);
   width: 100%;
   height: 100px;
   box-shadow: 0 1px 0 0 var(--nav-border);
   z-index: 10;
   .navContainer{
      max-width: 1200px;
      height: 100%;
      margin: 0 auto;
      padding-top: 6px;
      display: grid;
      align-items: center;
      justify-content: center;
      grid-template-columns: minmax(134px, auto) 600px minmax(340px, auto);
      grid-template-areas:
      "logo search disney"
      "location categories account";
      a{
         display: contents;
         .meliLogo{
            grid-area: logo;
            width: 134px;
            height: 34px;
            background-image: var(--meli-logo);
            margin-left: 10px;
            cursor: pointer;
         }
      }
      .location{
         grid-area: location;
         width: 134px;
         height: 40px;
         padding: 4px 8px;
         margin: 0 60px 5px 0;
         position: relative;
         cursor: pointer;
         &:hover{
            box-shadow: inset 0px 0px 1px 1px #eadd61;
            border-radius: 5px;
         }
         > svg{
            color: var(--background-icons);
            position: absolute;
            top: 3px;
            left: 9px;
            width: 18px;
            height: 22px;
         }
         .envio{
               display: flex;
               flex-wrap: wrap;
               align-items: center;
               span{
                  color: var(--nav-secondary-text);
                  padding-left: 25px;
                  font-size: 12px;
                  font-weight: 500;
                  line-height: 17px;
               }
               p{
                  color: var(--nav-text);
                  padding-left: 25px;
                  font-size: 14px;
                  font-weight: 500;
                  line-height: 11px;
               }
         }
      }
      .search{
         grid-area: search;
         width: 600px;
         border-radius: 2px;
         overflow: hidden;
         box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
         form{
            display: grid;
            grid-template-areas: "input button";
            grid-template-columns: 1fr 46px;
            width: 100%;
            border-radius: 2px;
            input{
               color: var(--text);
               background-color: var(--background-item);
               grid-area: input;
               width: 100%;
               padding-left: 15px;
               border: none;
               &::placeholder{
                  color: var(--placeholder);
                  font-family: inherit;
                  font-size: 16px;
                  font-weight: 500;
               }
               &:focus-visible{
                  outline: none;
               }
            }
            button{
               background-color: var(--background-item);
               grid-area: button;
               position: relative;
               width: 46px;
               height: 39px;
               border: none;
               cursor: pointer;
               &::after{
                  content: "";
                  position: absolute;
                  left: 0;
                  top: 50%;
                  transform: translateY(-50%);
                  border-left: 1px solid var(--border);
                  height: 26px;
                  
               }
               img{
                  filter: var(--brightness);
                  height: 16px;
               }
            }
         }
      }
      .categories{
         grid-area: categories;
         width: 600px;
         height: 100%;
         display: flex;
         align-items: flex-end;
         ul{
            display: flex;
            gap: 18px;
            padding-bottom: 10px;
            li:first-child{
               position: relative;
               width: 80px;
               cursor: pointer;
               &::before{
                  content: "";
                  position: absolute;
                  right: 0;
                  width: 6px;
                  height: 6px;
                  color: var(--nav-categories);
                  border-style: solid;
                  border-width: 0 1.5px 1.5px 0;
                  margin: 9px 0 0 6px;
                  transform: rotate(45deg);
                  box-sizing: border-box;
               }
               .allCategories{
                  position: absolute;
                  top: 20px;
                  left: 50%;
                  width: 257px;
                  padding-top: 10px;
                  transform: translateX(-50%);
                  z-index: 10;
                  cursor: default;
                  .allCategoriesContent{
                     position: relative;
                     background-color: #333;
                     padding: 22px 0;
                     border-radius: 4px;
                     &::before{
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 155px;
                        transform: rotate(180deg) translateY(100%);
                        border-left: 8px solid transparent;
                        border-right: 8px solid transparent;
                        border-top: 8px solid #333;
                     }
                     a, span{
                        color: #fff;
                        display: block;
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 36px;
                        text-decoration: none;
                        padding: 0 36px;
                        cursor: pointer;
                        &:hover{
                           background-color: $blue;
                        }
                     }   
                  }
               }
            }
            li{
               list-style: none;
               span{
                  color: var(--nav-categories);
                  font-size: 14px;
                  font-weight: 500;
                  transition: 300ms color ease;
                  cursor: pointer;
                  &:hover{
                     color: var(--nav-categories-hover);
                     transition: 500ms color ease;
                  }
               }
            }
         }
      }
      .disney{
         grid-area: disney;
         width: 340px;
         height: 39px;
         background-image: var(--disney-plus-image);
         background-size: 340px 39px;
         margin-left: 55px;
         margin-right: 10px;
         cursor: pointer;
      }
      .account{
         grid-area: account;
         height: 100%;
         display: flex;
         align-content: flex-end;
         justify-content: flex-end;
         ul{
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            gap: 20px;
            padding-bottom: 10px;
            li{
               list-style: none;
               span{
                  color: var(--nav-text);
                  font-size: 14px;
                  line-height: 10px;
                  font-weight: 500;
                  cursor: pointer;
                  &:hover{
                     color: #000;
                  }
               }
            }
            .cartWidget{
               height: 20px;
               width: 20px;
               margin-right: 10px;
               margin-bottom: 4px;
               cursor: pointer;
               position: relative;
               svg{
                  color: var(--background-icons);
               }
               .itemsInCart{
                  position: absolute;
                  top: -2px;
                  right: 0;
                  width: 16px;
                  height: 12px;
                  span{
                     display: block;
                     width: 100%;
                     font-size: 11px;
                     line-height: 11px;
                     color: var(--background-icons);
                     text-align: center;
                     text-decoration: none;
                  }
               }
            }
         }
      }
   }
}
.shadow{
   position: absolute;
   width: 100%;
   height: calc(100% - 100px);
   top: 100px;
   left: 0;
   background-color: #333;
   opacity: 0;
   z-index: -1;
}
.shadowActive{
   opacity: 0.3;
   z-index: 5;
}

@media (max-width:1200px){
   .nav{
      height: 87px;
      .navContainer{
         max-width: none;
         width: 100%;
         padding: 0;
         grid-template-columns: 64px 1fr 95px;
         grid-template-areas:
         "logo search account"
         "location location location";
         a{
            .meliLogo{
               width: 44px;
               height: 32px;
               background-image: url(../../assets/img/meliLogo2.png);
               background-size: 44px 32px;
               margin: 0 10px 0;
            }
         }
         .location{
            width: 100%;
            height: 39px;
            padding: 0;
            margin: 0;
            box-shadow: 0 -1px 0 0 var(--nav-border);
            display: flex;
            align-items: center;
            &:hover{
               box-shadow: 0 -1px 0 0 var(--nav-border);
               border-radius: 0;
            }
            > svg{
               width: 12px;
               height: 14px;
               top: 10px;
               left: 10px;
               filter: drop-shadow(0px 0px 0.5px var(--background-icons));
            }
            .envio{
               span, p{
                  font-size: 13px;
                  font-weight: 500;
                  line-height: 13px;
               }
               span{
                  padding-left: 28px;
               }
               p{
                  padding-left: 3px;
               }
            }
         }
         .search{
            width: 100%;
            height: 32px;
            margin: 8px 0;
            form{
               grid-template-columns: 35px 1fr;
               grid-template-areas: "button input";
               input{
                  padding: 0;
                  font-size: 16px;
                  &::placeholder{
                     font-size: 16px;
                     font-weight: 500;
                  }
                  &:focus-visible{
                     outline: none;
                  }
               }
               button{
                  height: 32px;
                  width: 35px;
                  img{
                     height: 13px;
                     opacity: 0.7;
                     
                  }
                  &::after{
                     display: none;
                  }
               }
            }
         }
         .account{
            width: 90px;
            padding-left: 5px;
            align-items: center;
            justify-content: flex-start;
            ul{
               display: flex;
               align-items: flex-end;
               justify-content: flex-end;
               gap: 0;
               padding: 0;
               .burgerButton{
                  display: flex !important;
                  align-items: center;
                  justify-content: center;
                  width: 45px;
                  height: 48px;
                  span{
                     background-color: var(--background-icons);
                     position: relative;
                     display: block;
                     width: 20px;
                     height: 1px;
                     &::before, &::after{
                        background-color: var(--background-icons);
                        position: absolute;
                        content: "";
                        top: 0;
                        left: 0;
                        width: 20px;
                        height: 1px;
                     }
                     &::before{
                        top: 7px;
                     }
                     &::after{
                        top: -7px;
                     }   
                  }
               }
               .cartButton{
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  width: 45px;
                  height: 48px;
                  .cartWidget{
                     height: 23px;
                     width: 23px;
                     margin: 0;
                     .itemsInCart{
                        position: absolute;
                        top: -2px;
                        right: 1px;
                        width: 16px;
                        height: 12px;
                        span{
                           display: block;
                           width: 100%;
                           font-size: 11px;
                           line-height: 11px;
                           color: var(--background-icons);
                           text-align: center;
                           text-decoration: none;
                        }
                     }
                  }
               }
            }
         }
      }
   }
}