@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');

// FUENTES
@import '/src/scss/fonts';

// VARIABLES
@import '/src/scss/variables';

// reset
*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   transition: .15s color ease-out, .15s background-color ease-out, .15s fill ease-out;
   font-family: "Proxima Nova", sans-serif;
}
body{
   background-color: var(--background);
}

@import '/src/components/NavBar/NavBar';
@import '/src/components/NavBar/components/ThemeToggle/ThemeToggle';
@import '/src/pages/ItemListContainer/components/ItemList/ItemList';
@import '/src/pages/ItemListContainer/components/ItemList/Item';
@import '/src/pages/ItemDetailContainer/ResponsiveDetail';
@import '/src/pages/ItemDetailContainer/ItemDetail';
@import '/src/pages/ItemDetailContainer/components/ItemDetailSkeleton/ItemDetailSkeleton';
@import '/src/pages/ItemDetailContainer/components/AddedToCart/AddedToCart';
@import '/src/pages/ItemDetailContainer/components/SellerItem/SellerItem';
@import '/src/pages/CartView/CartView';
@import '/src/pages/CartView/components/FormOrder/FormOrder';
@import '/src/pages/Order/OrderCart';
@import '/src/components/ReactSlick/CarouselHeader';
@import '/src/components/ReactSlick/CarouselItems';
@import '/src/pages/ItemListContainer/components/PaymentContainer/PaymentContainer';
@import '/src/pages/ItemDetailContainer/components/BottomContainer/BottomContainer';
@import '/src/pages/ItemListContainer/components/BuyLevel6/BuyLevel6';
@import '/src/pages/ItemListContainer/components/Partners/Partners';
@import '/src/pages/ItemListContainer/components/Discovery/Discovery';
@import '/src/pages/ItemListContainer/components/Stores/Stores';
@import '/src/components/NotPhishing/NotPhishing'