@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');

// FUENTES
@font-face {
   font-family: "Proxima Nova";
   src: url("./assets/font/proximanova-light.woff2");
   font-weight: 300;
}
@font-face {
   font-family: "Proxima Nova";
   src: url("./assets/font/proximanova-regular.woff2");
   font-weight: 500;
}
@font-face {
   font-family: "Proxima Nova";
   src: url("./assets/font/proximanova-semibold.woff2");
   font-weight: 700;
}

// VARIABLES
$meli-yellow: #fff159;
$blue: #3483fa;
$dark-blue: #2968c8;

// reset
*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: "Proxima Nova", sans-serif;
}
body{
   background-color: #ededed;
}
.mainHome{
   overflow-x: hidden
}

@import '/src/components/NavBar/NavBar';
@import '/src/pages/ItemListContainer/components/ItemList/ItemList';
@import '/src/pages/ItemListContainer/components/ItemList/Item';
@import '/src/pages/ItemDetailContainer/ResponsiveDetail';
@import '/src/pages/ItemDetailContainer/ItemDetail';
@import '/src/pages/ItemDetailContainer/components/ItemDetailSkeleton/ItemDetailSkeleton';
@import '/src/pages/ItemDetailContainer/components/AddedToCart/AddedToCart';
@import '/src/pages/ItemDetailContainer/components/SellerItem/SellerItem';
@import '/src/pages/CartView/CartView';
@import '/src/pages/CartView/components/FormOrder/FormOrder';
@import '/src/pages/Order/OrderCart';
@import '/src/components/ReactSlick/CarouselHeader';
@import '/src/components/ReactSlick/CarouselItems';
@import '/src/pages/ItemListContainer/components/PaymentContainer/PaymentContainer';
@import '/src/pages/ItemDetailContainer/components/BottomContainer/BottomContainer';
@import '/src/pages/ItemListContainer/components/BuyLevel6/BuyLevel6';
@import '/src/pages/ItemListContainer/components/Partners/Partners';
@import '/src/pages/ItemListContainer/components/Discovery/Discovery';
@import '/src/pages/ItemListContainer/components/Stores/Stores';
@import '/src/components/NotPhishing/NotPhishing'