@font-face {
   font-family: "Proxima Nova";
   src: url("../assets/font/proximanova-light.woff2");
   font-weight: 300;
}
@font-face {
   font-family: "Proxima Nova";
   src: url("../assets/font/proximanova-regular.woff2");
   font-weight: 500;
}
@font-face {
   font-family: "Proxima Nova";
   src: url("../assets/font/proximanova-semibold.woff2");
   font-weight: 700;
}